<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sure</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h1>This is a test. This text's color is being changed by CSS. wow. almost like it should not have taken me so long to figure out how to do this or something idk</h1>
<!--    this works!-->
<h3><a href="/pageTwo">CLICK ME DO IT DO IT NOW</a></h3>
    <img src = 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.W8apTKARTqVhmLzMCisNmAHaEs%26pid%3DApi&f=1' />
<h3><a href = "/">or go home</a></h3>
<h3><a href = "/greeting">Go to the Greeting form</a></h3>

</body>
</html>